*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #123456;
	font-size: 16px;
	color: #fff;
}
#container{
	width: 100%;
}
	#header{
		width: 900px;
		margin: 5px auto;
	}
		#logo{
			width: 450px;
			box-shadow: 0 0 5px #000123;
			height: 100px;
		}
	#content{
		width: 890px;
		margin: 0 auto;
		padding: 5px;
	}
		.square{
			float: left;
			width: 445px;
		}
			.tile{
				float: left;
				width: 212px;
				height: 210px;
				box-shadow: 0 0 5px #000123;
				margin: 5px;
			}
			#__tile_right{
				width: 435px;
				height: 430px;
				box-shadow: 0 0 5px #000123;
				margin: 5px;
			}
	#footer{
		width: 900px;
		margin: 5px auto;
		box-shadow: 0 0 10px #000123;
		height: 50px;
	}
		#__footer_text{
			text-align: center;
		}