*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	font-size: 16px;
	color: #fff;
	font-family: cursive;
}
#container{
	width: 100%;
}
/*-------------------------------------------------------*/
	#header{
		max-width: 900px;
		margin: 20px auto;
		padding: 15px;
	}
		#logo{
			float: left;
			width: 10%;
		}
			.logo_W{
				width: 63px;
				height: 60px;
				border-radius: 50%;
				box-shadow: 1px 0 10px #fff;
			}
		#text_logo{
			float: left;
			width: 15%;
			margin-left: -13px;
			margin-top: 7px;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1;
		}
		#nav{
			float: right;
			width: 75%;
			margin-top: 10px;
			text-align: right;
		}
			ol{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
				ol li{
					display: inline-block;
					text-transform: uppercase;
					font-size: 22px;
				}
					ol li a{
						text-decoration: none;
					}
						a:link, a:visited{
							color:#fff;
						}
					.nav_text{
						padding: 5px 15px;
						border: 1px solid #ffc500;
						border-radius: 50px;
					}
/*-------------------------------------------------------*/
	#content{
		max-width: 900px;
		margin: 0 auto;
		height: 500px;
		background-color: #1e1e1e;
		position: relative;
	}
		.square{
			float: left;
			width: 50%;
			padding: 30px;
		}
			.image_rafal{
				border-radius: 15px;
				outline: 5px solid #ffc500;
				box-shadow: 0 0 30px #ffc500;
				margin: 30%;
			}
			h1{
				margin-top: 70px;
				text-transform: uppercase;
			}
			span{
				color: #ffc500;
			}
		#technology{
			background-color: #3e3e3e;
			width: 200px;
			height: 50px;
			border-radius: 50px;
			position: absolute;
			bottom: 20px;
			right: 20px;
		}